@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info {
  position: absolute;
  top: 55px;
  left: 0px;
  font-size: 14px;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .info {
    display: none;
  }
}
